{% extends 'base.html' %}
{% load static %}

{% block main-content %}
<div class="container-fluid mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="{% url 'home:index' %}">
{#        <img src="{% static '' %}" alt="Logo Inviso">#}
      </a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <a class="navbar-brand btn btn-danger text-white" href="{% url 'auth:logout' %}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ajouter de donnée excel
                </button>
            </div>
        </div>
    </nav>
    <hr />

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Téléverser un fichier Excel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="excel_file" class="form-label">Sélectionnez le fichier Excel :</label>
                            <input type="file" class="form-control" id="excel_file" name="excel_file"
                                accept=".xlsx, .xls">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Téléverser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
    </div>
    <h1 class="mt-4">Selection les entreprises</h1>

    <!-- Formulaire de recherche -->
    <form method="GET" class="mb-4 row">
        <div class="col-md-6 mb-3">
            <label for="societe_1_name" class="form-label">Nom de la Société A:</label>
            <select name="societe_1_name" id="societe_1_name" class="form-select">
                <option value="">Toutes les sociétés</option>
                {% for societe in societes %}
                <option value="{{ societe.name }}" {% if societe.name == societe_1_name %}selected{% endif %}>{{societe.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="societe_2_name" class="form-label">Nom de la Société B:</label>
            <select name="societe_2_name" id="societe_2_name" class="form-select">
                <option value="">Toutes les sociétés</option>
                {% for societe in societes %}
                <option value="{{ societe.name }}" {% if societe.name == societe_2_name %}selected{% endif %}
                >{{societe.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-6">
            <!-- Tableau 1 -->
            <h2>Résultats de la recherche ({{ societe_1_name }}) :</h2>
            <ul>
                {% for association in associations1 %}
                <li>{{ association.societe1 }} - {{ association.societe2 }} : {{ association.tiers }} ({{association.type }})</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <!-- Tableau 2 -->
            <h2>Résultats de la recherche ({{ societe_2_name }}) :</h2>
            <ul>
                {% for association in associations2 %}
                <li>{{ association.societe1 }} - {{ association.societe2 }} : {{ association.tiers }} ({{ association.type }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr>

    <!-- Add a single button outside both tables to send selected values -->
    <form action="{% url 'home:ajax_view' %}" method="post">
    {% csrf_token %}
        <button class="btn btn-primary" type="submit">Send Data</button>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>JO_NUM</th>
                            <th>EC_PIECE</th>
                            <th>CG_NUM</th>
                            <th>CT_NUM</th>
                            <th>INTITULE</th>
                            <th>DEBIT</th>
                            <th>CREDIT</th>
                            <th>REF</th>
                            <th>VALUE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in results1 %}
                            <tr>
                                <td class="">{{ item.jo_num }}</td>
                                <td class="">{{ item.ec_piece }}</td>
                                <td class="">{{ item.cg_num }}</td>
                                <td class="">{{ item.ct_num }}</td>
                                <td class="">{{ item.ec_intitule|slice:":40" }}</td>
                                <td class="">{{ item.debit }}</td>
                                <td class="">{{ item.credit }}</td>
                                <td>
                                    <input type="checkbox" class="tableau1-checkbox" data-piece="{{ item.ec_piece }}"
                                           data-jonum="{{ item.jo_num }}" data-ecno="{{ item.ec_no }}"
                                           data-ecrefpiece="{{ item.ec_refpiece }}" data-base="{{ societe_2_name }}"
                                           data-debit="{{ item.debit }}" data-credit="{{ item.credit }}"/>
                                </td>
                                <td>{{ item.interco }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>JO_NUM</th>
                            <th>EC_PIECE</th>
                            <th>CG_NUM</th>
                            <th>CT_NUM</th>
                            <th>INTITULE</th>
                            <th>DEBIT</th>
                            <th>CREDIT</th>
                            <th>REF</th>
                            <th>VALUE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in results2 %}
                            <tr>
                                <td class="">{{ item.jo_num }}</td>
                                <td class="">{{ item.ec_piece }}</td>
                                <td class="">{{ item.cg_num }}</td>
                                <td class="">{{ item.ct_num }}</td>
                                <td class="">{{ item.ec_intitule|slice:":40" }}</td>
                                <td class="">{{ item.debit }}</td>
                                <td class="">{{ item.credit }}</td>
                                <td>
                                    <input type="checkbox" class="tableau2-checkbox" data-piece="{{ item.ec_piece }}"
                                           data-jonum="{{ item.jo_num }}" data-ecno="{{ item.ec_no }}"
                                           data-ecrefpiece="{{ item.ec_refpiece }}" data-base="{{ societe_1_name }}"
                                           data-debit="{{ item.debit }}" data-credit="{{ item.credit }}"/>
                                </td>
                                <td class="max-width: 50px;">{{ item.interco }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block style %}
<style>
    /* Appliquer un style aux td contenant les résultats */
    .result-td {
        width: 200px;
        /* Ajuster la largeur de la colonne selon vos besoins */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        let A = [];
        let B = [];

        // Handle click on Tableau 1 checkboxes
        $(".tableau1-checkbox").change(function () {
            const isChecked = $(this).prop("checked");
            const data = $(this).data();

            if (isChecked) {
                A.push(data);
            } else {
                A = A.filter((item) => item.ecPiece !== data.ecPiece && item.joNum !== data.joNum);
            }
        });

        // Handle click on Tableau 2 checkboxes
        $(".tableau2-checkbox").change(function () {
            const isChecked = $(this).prop("checked");
            const data = $(this).data();

            if (isChecked) {
                B.push(data);
            } else {
                B = B.filter((item) => item.ecPiece !== data.ecPiece && item.joNum !== data.joNum);
            }
        });

        // Handle click on the "Send Data" button
        $("form").submit(function (event) {
            event.preventDefault();

            // Combine the selected data from both arrays into a single object
            const dataToSend = {
                A: A,
                B: B
            };

            // Send the data to the server using AJAX
            $.ajax({
                url: "{% url 'home:ajax_view' %}",
                type: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: JSON.stringify(dataToSend), // Convert the object to JSON
                dataType: "json",
                success: function (response) {
                    console.log("Réponse de la vue Django :", response);
                    {#const url = `{% url 'home:index' %}?societe_1_name=${encodeURIComponent(response['societe_1_name'])}&societe_2_name=${encodeURIComponent(response['societe_2_name'])}`;#}
                    {#window.location.href = url;#}
                },
                error: function (error) {
                    console.error("Erreur :", error);
                },
            });
        });
    });
</script>


{% endblock %}


