{% extends 'base.html' %} {% load static %} {% block main-content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- <a class="navbar-brand" href="{% url 'home:index' %}">
      <img src="{% static 'app/img/logo.png' %}" alt="Logo Inviso">
    </a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <a
        class="navbar-brand btn btn-danger text-white"
        href="{% url 'auth:logout' %}"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Ajouter de donnée excel
      </button>
    </div>
  </div>
</nav>
<hr />
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Importer des données depuis un fichier Excel
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'home:import_data' %}"
          method="post"
          enctype="multipart/form-data"
          class="mt-4"
        >
          {% csrf_token %}
          <div class="mb-3">
            <label for="fileInput" class="form-label"
              >Choisir le fichier Excel</label
            >
            <input
              type="file"
              name="excel_file"
              id="fileInput"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-primary">Importer</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
{# #}
<h1>Résultats de la recherche</h1>

  <!-- Formulaire de recherche -->
<form method="GET">
    <label for="societe_1_name">Nom de la Société A:</label>
    <select name="societe_1_name" id="societe_1_name">
        <option value="">Toutes les sociétés</option>
        {% for societe in societes %}
            <option value="{{ societe.name }}" {% if societe.name == societe_1_name %}selected{% endif %}>{{ societe.name }}</option>
        {% endfor %}
    </select>

    <label for="societe_2_name">Nom de la Société B:</label>
    <select name="societe_2_name" id="societe_2_name">
        <option value="">Toutes les sociétés</option>
        {% for societe in societes %}
            <option value="{{ societe.name }}" {% if societe.name == societe_2_name %}selected{% endif %}>{{ societe.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Rechercher</button>
</form>

    <h2>Résultats de la recherche (1) :</h2>

    <ul>
        {% for association in associations_normals %}
            <li>{{ association.societe1 }} - {{ association.societe2 }} : {{ association.tiers }} ({{ association.type }})</li>
        {% endfor %}
    </ul>

    <h2>Résultats de la recherche (2) :</h2>

    <ul>
        {% for association in associations_invers %}
            <li>{{ association.societe1 }} - {{ association.societe2 }} : {{ association.tiers }} ({{ association.type }})</li>
        {% endfor %}
    </ul>
<script></script>
{% endblock %}
